#pane{
    -fx-background-image: url("bgimg3.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1100 600;
    -fx-background-position: center center;
}
#panegame{
    -fx-background-image: url("starsbg.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1150 600;
    -fx-background-position: center center;
}
